@import 'font';
@import 'var';

body {
    color: $light;
    font-family: $font;
    font-weight: 400;
    background-color: #1F2023;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 71px;
    position: fixed;
    top: 0;
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 27px;
        position: absolute;
        background-color: $accent;
        top: 0;
        left: 0;
        z-index: -1;
    }
    
    &__logo {
        background-color: $accent;
        padding: 17px 45px 0 45px;
        border-radius: 10px 0 0 0;
        position: relative;
        &::before {
            content: '';
            display: block;
            width: 26px;
            height: 24px;
            background-image: url(../images/header-bottom-left.svg);
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            left: 0;
            bottom: -24px;
        }
        &::after {
            content: '';
            display: block;
            width: 68px;
            height: 71px;
            background-image: url(../images/header-left.svg);
            position: absolute;
            right: -68px;
            top: 0px;
        }
    }
    &__link {
        color: $light;
        background-color: $accent;
        padding: 17px 45px 0 45px;
        border-radius: 0 10px 0 0;
        position: relative;
        &::before {
            content: '';
            display: block;
            width: 26px;
            height: 24px;
            background-image: url(../images/header-bottom-right.svg);
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            right: 0;
            bottom: -24px;
        }
        &::after {
            content: '';
            display: block;
            width: 68px;
            height: 71px;
            background-image: url(../images/header-right.svg);
            position: absolute;
            left: -68px;
            top: 0px;
        }
    }
}

.container {
    width: 100;
    max-width: 1830px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.banner {
    display: flex;
    background-image: url(../images/bg-banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    padding: 100px 50px;
    margin-top: 135px;
    gap: 50px;
    &__main {
        flex-basis: 61%;
    }
    &__info {
        flex-basis: calc(39% - 50px);
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 151px;
        border: 1px solid $light;
        border-right: none;
        border-radius: 20px 0 0 20px;
        position: relative;
        margin-right: 80px;
        &::after {
            content: '';
            display: block;
            width: 80px;
            height: 151px;
            background-image: url(../images/banner-info-decor.svg);
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            right: -80px;
            top: 0;
        }
    }
    &__title {
        font-size: 64px;
        font-weight: 700;
        line-height: 110%;
        margin-top: 0;
        margin-bottom: 20px;
    }
    &__btn {
        display: block;
        width: 100%;
        color: $light;
        border-radius: 20px;
        font-size: 20px;
        font-weight: 600;
        line-height: 110%;
        letter-spacing: 1%;
        background-color: $accent;
        border: 1px solid $accent;
        padding: 30px;
        transition: $tr;
        cursor: pointer;
        @media(hover: hover) {
            &:hover {
                background-color: transparent;
            }
        }
    }
}

.banner-box {
    border: 1px solid $light;
    border-radius: 20px;
    padding: 30px 332px 30px 30px;
    position: relative;
    &__title {
        font-size: 24px;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 31px;
    }
    &__text {
        font-size: 20px;
        font-weight: 400;
        line-height: 150%;
        margin-top: 0;
        margin-bottom: 0;
    }
    &__img {
        position: absolute;
        &._electroguitar {
            top: -68px;
            right: -20px;
        }
    }
}